/* Clean drop: remove FK constraints first */
IF EXISTS (
    SELECT 1
    FROM sys.foreign_keys
    WHERE referenced_object_id = OBJECT_ID('dbo.GlobalNetworkMetrics')
)
BEGIN
    DECLARE @sql NVARCHAR(MAX) = N'';

    SELECT @sql = @sql + N'
        ALTER TABLE ' + QUOTENAME(OBJECT_SCHEMA_NAME(parent_object_id)) + '.' +
        QUOTENAME(OBJECT_NAME(parent_object_id)) +
        ' DROP CONSTRAINT ' + QUOTENAME(name) + ';'
    FROM sys.foreign_keys
    WHERE referenced_object_id = OBJECT_ID('dbo.GlobalNetworkMetrics');

    EXEC(@sql);
END;

/* Drop table if it exists */
IF OBJECT_ID('dbo.GlobalNetworkMetrics', 'U') IS NOT NULL
    DROP TABLE dbo.GlobalNetworkMetrics;
GO

/* Create table */
CREATE TABLE dbo.GlobalNetworkMetrics (
    metric_id INT IDENTITY(1,1) PRIMARY KEY,
    analysis_timestamp DATETIME2(7) NULL,
    method NVARCHAR(255) NULL,
    network_size INT NOT NULL,
    edge_count INT NOT NULL,
    dyad_count INT NOT NULL,
    density FLOAT NOT NULL,
    reciprocity_edgewise FLOAT NOT NULL,
    reciprocity_dyadic FLOAT NOT NULL,
    diameter INT NOT NULL,
    avg_path_length FLOAT NOT NULL,
    num_components INT NOT NULL,
    giant_component_size INT NOT NULL,
    giant_component_pct FLOAT NOT NULL,
    global_clustering FLOAT NOT NULL,
    avg_local_clustering FLOAT NOT NULL,
    centralization_indegree FLOAT NOT NULL,
    num_communities INT NOT NULL,
    modularity FLOAT NOT NULL,
    analysis_notes NVARCHAR(MAX) NULL
) ON [dataonly];
GO

/* Add default constraint only if not already present */
IF NOT EXISTS (
    SELECT 1 FROM sys.default_constraints
    WHERE parent_object_id = OBJECT_ID('dbo.GlobalNetworkMetrics')
      AND parent_column_id = COLUMNPROPERTY(parent_object_id, 'analysis_timestamp', 'ColumnId')
)
BEGIN
    ALTER TABLE dbo.GlobalNetworkMetrics
        ADD CONSTRAINT DF_GlobalNetworkMetrics_analysis_timestamp
        DEFAULT (sysutcdatetime()) FOR analysis_timestamp;
END
GO

/* Insert daily best rows */
IF EXISTS (SELECT 1 FROM dbo.NetworkLevelMetrics)
BEGIN
    DECLARE @numComm INT = (
        SELECT COUNT(DISTINCT community)
        FROM dbo.centrality_tmp
    );

    DECLARE @avg_Mod FLOAT = (
        SELECT AVG(modularity)
        FROM dbo.centrality_tmp
    );

    WITH ranked AS (
        SELECT
            DATEADD(DAY, CAST(analysis_timestamp AS INT), '1970-01-01') AS analysis_timestamp,
            method,
            network_size,
            edge_count,
            dyad_count,
            density,
            reciprocity_default AS reciprocity_edgewise,
            reciprocity_ratio AS reciprocity_dyadic,
            diameter,
            avg_path_length,
            num_components,
            largest_component_size AS giant_component_size,
            giant_component_pct,
            transitivity_val AS global_clustering,
            avg_local_clustering,
            centralization_in AS centralization_indegree,
            @numComm AS num_communities,
            @avg_Mod AS modularity,
            CONCAT(most_replied_to, ' ', most_active_replier) AS analysis_notes,
            ROW_NUMBER() OVER (
                PARTITION BY DATEADD(DAY, CAST(analysis_timestamp AS INT), '1970-01-01')
                ORDER BY network_size DESC, edge_count DESC
            ) AS rn
        FROM dbo.NetworkLevelMetrics
        WHERE method = 'igraph'
    )
    INSERT INTO dbo.GlobalNetworkMetrics (
        analysis_timestamp,
        method,
        network_size,
        edge_count,
        dyad_count,
        density,
        reciprocity_edgewise,
        reciprocity_dyadic,
        diameter,
        avg_path_length,
        num_components,
        giant_component_size,
        giant_component_pct,
        global_clustering,
        avg_local_clustering,
        centralization_indegree,
        num_communities,
        modularity,
        analysis_notes
    )
    SELECT
        analysis_timestamp,
        method,
        network_size,
        edge_count,
        dyad_count,
        density,
        reciprocity_edgewise,
        reciprocity_dyadic,
        diameter,
        avg_path_length,
        num_components,
        giant_component_size,
        giant_component_pct,
        global_clustering,
        avg_local_clustering,
        centralization_indegree,
        num_communities,
        modularity,
        analysis_notes
    FROM ranked
    WHERE rn = 1
    ORDER BY analysis_timestamp DESC;
END
GO
