USE [BlueSkyNet]
GO
/****** Object:  StoredProcedure [dbo].[InsertGlobalMetrics]    Script Date: 08/07/2026 09:35:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE dbo.InsertGlobalMetrics
AS
BEGIN
    SET NOCOUNT ON;

    --------------------------------------------------------------------
    -- 1. Compute global values from centrality_tmp
    --------------------------------------------------------------------
    DECLARE @numComm INT = (
        SELECT COUNT(DISTINCT community)
        FROM dbo.centrality_tmp
    );

    DECLARE @avg_Mod FLOAT = (
        SELECT AVG(modularity)
        FROM dbo.centrality_tmp
    );

    --------------------------------------------------------------------
    -- 2. Build daily-ranked network metrics (one row per day)
    --------------------------------------------------------------------
    WITH ranked AS (
        SELECT
            DATEADD(DAY, CAST(analysis_timestamp AS INT), '1970-01-01') AS analysis_timestamp,
            method,
            network_size,
            edge_count,
            dyad_count,
            density,
            reciprocity_default AS reciprocity_edgewise,
            reciprocity_ratio AS reciprocity_dyadic,
            diameter,
            avg_path_length,
            num_components,
            largest_component_size AS giant_component_size,
            giant_component_pct,
            transitivity_val AS global_clustering,
            avg_local_clustering,
            centralization_in AS centralization_indegree,
            @numComm AS num_communities,
            @avg_Mod AS modularity,
            CONCAT(most_replied_to, ' ', most_active_replier) AS analysis_notes,

            ROW_NUMBER() OVER (
                PARTITION BY DATEADD(DAY, CAST(analysis_timestamp AS INT), '1970-01-01')
                ORDER BY network_size DESC, edge_count DESC
            ) AS rn
        FROM dbo.NetworkLevelMetrics
        WHERE method = 'igraph'
    ),

    daily_best AS (
        SELECT *
        FROM ranked
        WHERE rn = 1
    )

    --------------------------------------------------------------------
    -- 3. MERGE into GlobalNetworkMetrics (insert or update)
    --------------------------------------------------------------------
    MERGE dbo.GlobalNetworkMetrics AS tgt
    USING daily_best AS src
        ON tgt.analysis_timestamp = src.analysis_timestamp
    WHEN MATCHED THEN
        UPDATE SET
            tgt.method                 = src.method,
            tgt.network_size           = src.network_size,
            tgt.edge_count             = src.edge_count,
            tgt.dyad_count             = src.dyad_count,
            tgt.density                = src.density,
            tgt.reciprocity_edgewise   = src.reciprocity_edgewise,
            tgt.reciprocity_dyadic     = src.reciprocity_dyadic,
            tgt.diameter               = src.diameter,
            tgt.avg_path_length        = src.avg_path_length,
            tgt.num_components         = src.num_components,
            tgt.giant_component_size   = src.giant_component_size,
            tgt.giant_component_pct    = src.giant_component_pct,
            tgt.global_clustering      = src.global_clustering,
            tgt.avg_local_clustering   = src.avg_local_clustering,
            tgt.centralization_indegree= src.centralization_indegree,
            tgt.num_communities        = src.num_communities,
            tgt.modularity             = src.modularity,
            tgt.analysis_notes         = src.analysis_notes

    WHEN NOT MATCHED THEN
        INSERT (
            analysis_timestamp,
            method,
            network_size,
            edge_count,
            dyad_count,
            density,
            reciprocity_edgewise,
            reciprocity_dyadic,
            diameter,
            avg_path_length,
            num_components,
            giant_component_size,
            giant_component_pct,
            global_clustering,
            avg_local_clustering,
            centralization_indegree,
            num_communities,
            modularity,
            analysis_notes
        )
        VALUES (
            src.analysis_timestamp,
            src.method,
            src.network_size,
            src.edge_count,
            src.dyad_count,
            src.density,
            src.reciprocity_edgewise,
            src.reciprocity_dyadic,
            src.diameter,
            src.avg_path_length,
            src.num_components,
            src.giant_component_size,
            src.giant_component_pct,
            src.global_clustering,
            src.avg_local_clustering,
            src.centralization_indegree,
            src.num_communities,
            src.modularity,
            src.analysis_notes
        );

END;
GO
