/*
   Tuesday 24 February 202611:15:59
   User: 
   Server: .
   Database: BlueSkyNet
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.NetworkLevelMetrics
	(
	analysis_timestamp date NULL,
	method nvarchar(255) NULL,
	network_size float(53) NULL,
	edge_count float(53) NULL,
	dyad_count float(53) NULL,
	density float(53) NULL,
	mutual_pairs float(53) NULL,
	asymetric_pairs float(53) NULL,
	isolated_nodes float(53) NULL,
	diameter float(53) NULL,
	avg_path_length float(53) NULL,
	neighbours_average float(53) NULL,
	reciprocity_default float(53) NULL,
	reciprocity_ratio float(53) NULL,
	average_in_degree float(53) NULL,
	average_out_degree float(53) NULL,
	most_replied_to nvarchar(255) NULL,
	most_active_replier nvarchar(255) NULL
	)  ON dataonly
GO
ALTER TABLE dbo.NetworkLevelMetrics SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.NetworkLevelMetrics)
	 EXEC('INSERT INTO dbo.Tmp_NetworkLevelMetrics (analysis_timestamp, method, network_size, edge_count, dyad_count, density, mutual_pairs, asymetric_pairs, isolated_nodes, diameter, avg_path_length, neighbours_average, reciprocity_default, reciprocity_ratio, average_in_degree, average_out_degree, most_replied_to, most_active_replier)
		SELECT CONVERT(date, analysis_timestamp), method, network_size, edge_count, dyad_count, density, mutual_pairs, asymetric_pairs, isolated_nodes, diameter, avg_path_length, neighbours_average, reciprocity_default, reciprocity_ratio, average_in_degree, average_out_degree, most_replied_to, most_active_replier FROM dbo.NetworkLevelMetrics WITH (HOLDLOCK TABLOCKX)')
GO
COMMIT
